__pycache__
.idea

.pytest_cache
.mypy_cache
cotpy/__pycache__
cotpy/analyzer/__pycache__
cotpy/control/__pycache__
cotpy/identification/__pycache__
cotpy/tests/__pycache__

nk.py

dist/
MANIFEST
LICENSE.txt
README.txt